/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

span{
    display: block;
}

/* UTILITY */

.container{
    width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.debug{
    padding: 1rem;
    background-color: darkgray;
}

.debug > *{
    border: 1px dashed black;
    /* padding: 1rem; */
}

/* MAIN */

/* specifiche del folder */
.folder{
    margin: 0 -1rem;
    margin-top: 50px;
}

/* specifiche delle card e contenuti */
.card{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    float: left;
    text-align: left;
    background-color: rgb(3, 3, 14);
    color: white;
    box-shadow: 5px 5px 5px darkgray;
}

.card > img{
    float: left;
    width: 100px;
    margin-right: 10px;
}

.indentity > a{
    text-decoration: none;
    color:aqua ;
}

.indentity{
    padding: 20px;
}

.identity > a{
    display: block;
}