/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* UTILITY */

.container{
    width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.debug{
    padding: 1rem;
    background-color: darkgray;
}

.debug > *{
    border: 1px dashed black;
    /* padding: 1rem; */
}

/* MAIN */

.folder{
    margin: 0 -1rem;
}

.card{
    width: calc(100% / 3);
    float:left;
}

.card > img{
    float: left;
    width: 100px;
    margin-right: 10px;
}
